

@import "tailwindcss";

.MuiRating-icon{
    color: green;
}

 @theme{
   --breakpoint-ux:40rem;
   --breakpoint-sm:60rem;
} 

/* @layer components{
    .button{
        @apply  border-1 w-full font-bold bg-green-500 text-white hover:bg-green-300 transition-all cursor-pointer rounded-full mt-2
    }
} */

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
